In [4]:
import pandas as pd

In [6]:
dataset = pd.read_excel('dataset.xls')
df = pd.DataFrame(dataset)

In [7]:
df

,Country code,Country name,Series code,Series name,SCALE,Decimals,1990,1991,1992,1993,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,ABW,Aruba,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,29.5748,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1,ADO,Andorra,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2,AFG,Afghanistan,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,AGO,Angola,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0.208235,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,ALB,Albania,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,4.96788,..,..,..,...,..,..,..,..,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13507,YEM,"Yemen, Rep.",SP.URB.TOTL,Urban population,0,0,2.49718e+06,2.69364e+06,2.90976e+06,3.13964e+06,...,5.14862e+06,5.41033e+06,5.68341e+06,5.96746e+06,6.27572e+06,6.59727e+06,6.93279e+06,7.28307e+06,7.6487e+06,..
13508,ZAF,South Africa,SP.URB.TOTL,Urban population,0,0,18304000,1.88649e+07,1.94461e+07,2.00485e+07,...,2.63456e+07,2.69044e+07,2.74482e+07,2.79887e+07,2.85336e+07,2.90798e+07,2.96369e+07,3.01938e+07,3.08446e+07,..
13509,ZAR,"Congo, Dem. Rep.",SP.URB.TOTL,Urban population,0,0,1.01209e+07,1.05695e+07,1.106e+07,1.15686e+07,...,1.61253e+07,1.68678e+07,1.76408e+07,1.8432e+07,1.93337e+07,2.02614e+07,2.12165e+07,2.22018e+07,2.322e+07,..
13510,ZMB,Zambia,SP.URB.TOTL,Urban population,0,0,3.09686e+06,3.14167e+06,3.18326e+06,3.22351e+06,...,3.72988e+06,3.81964e+06,3.91287e+06,4.01183e+06,4.12899e+06,4.25314e+06,4.38486e+06,4.52456e+06,4.61473e+06,..
13511,ZWE,Zimbabwe,SP.URB.TOTL,Urban population,0,0,3.03607e+06,3.17502e+06,3.31051e+06,3.44308e+06,...,4.36734e+06,4.4221e+06,4.46973e+06,4.51288e+06,4.55829e+06,4.60059e+06,4.64941e+06,4.71766e+06,4.81487e+06,..