In [241]:
import pandas as pd
import numpy as np
from scipy.stats import spearmanr,kendalltau
import matplotlib.pyplot as plt
from matplotlib.pylab import rcParams
rcParams['figure.figsize']= 8,4

In [163]:
dataset = pd.read_excel('dataset.xls')
df = pd.DataFrame(dataset)

### Data Cleaning and filtering

In [164]:
df1 = df[df['Series name'] == 'Population']
df2 = df[df['Series name'] == 'Cereal yield (kg per hectare)']
#list(df1.columns.values)
new_df1 = df1.drop(columns = [2010,2011,'SCALE','Decimals'])
new_df2 = df2.drop(columns = [2010,2011,'SCALE','Decimals'])
#new_df2
new_df2 = new_df2.replace(to_replace ="..", value =np.nan) 
new_list = new_df2[new_df2.isna().any(axis=1)]

### Listing out countries that have empty values

In [165]:
country_list =[]
for column in new_list['Country name']:
    country_list.append(column)
print(country_list)

['Aruba', 'Andorra', 'Armenia', 'American Samoa', 'Azerbaijan', 'Belgium', 'Bahrain', 'Bosnia and Herzegovina', 'Belarus', 'Bermuda', 'Channel Islands', 'Cook Islands', 'Curacao', 'Cayman Islands', 'Czech Republic', 'Eritrea', 'Estonia', 'Ethiopia', 'Faeroe Islands', 'Micronesia, Fed. Sts.', 'Georgia', 'Gibraltar', 'Equatorial Guinea', 'Greenland', 'Hong Kong SAR, China', 'Croatia', 'Isle of Man', 'Iceland', 'Kazakhstan', 'Kyrgyz Republic', 'Kiribati', 'St. Kitts and Nevis', 'Kosovo', 'St. Lucia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China', 'St. Martin (French part)', 'Monaco', 'Moldova', 'Marshall Islands', 'Macedonia, FYR', 'Montenegro', 'Northern Mariana Islands', 'Mayotte', 'Niue', 'Nauru', 'Palau', 'French Polynesia', 'Russian Federation', 'Singapore', 'San Marino', 'Serbia', 'Slovak Republic', 'Slovenia', 'Sint Maarten (Dutch part)', 'Seychelles', 'Turks and Caicos Islands', 'Tajikistan', 'Turkmenistan', 'Tonga', 'Tuvalu', 'Ukraine', 'Uzbekistan', 'Virgin Islands (U.S.)', 'West Bank and Gaza', 'Samoa']

### Eliminating countries that are in the above list

In [166]:
df_cereal = new_df2[~new_df2['Country name'].isin(country_list)]
df_population = new_df1[~new_df1['Country name'].isin(country_list)]
df_cereal2 = df_cereal.drop(columns = ['Country code','Series code','Series name'])
df_population2 = df_population.drop(columns = ['Country code','Series code','Series name'])

#df_population

In [167]:
country_list =[]
for column in df_cereal['Country name']:
    country_list.append(column)
print(country_list)

['Afghanistan', 'Angola', 'Albania', 'United Arab Emirates', 'Argentina', 'Antigua and Barbuda', 'Australia', 'Austria', 'Burundi', 'Benin', 'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahamas, The', 'Belize', 'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan', 'Botswana', 'Central African Republic', 'Canada', 'Switzerland', 'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Rep.', 'Colombia', 'Comoros', 'Cape Verde', 'Costa Rica', 'Cuba', 'Cyprus', 'Germany', 'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic', 'Algeria', 'East Asia & Pacific', 'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.', 'Euro area', 'Spain', 'Finland', 'Fiji', 'France', 'Gabon', 'United Kingdom', 'Ghana', 'Guinea', 'Gambia, The', 'Guinea-Bissau', 'Greece', 'Grenada', 'Guatemala', 'Guam', 'Guyana', 'High income', 'Honduras', 'Haiti', 'Hungary', 'Indonesia', 'India', 'Ireland', 'Iran, Islamic Rep.', 'Iraq', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kenya', 'Cambodia', 'Korea, Rep.', 'Kuwait', 'Latin America & Caribbean', 'Lao PDR', 'Lebanon', 'Liberia', 'Libya', 'Low income', 'Sri Lanka', 'Lower middle income', 'Low & middle income', 'Lesotho', 'Morocco', 'Madagascar', 'Maldives', 'Mexico', 'Middle income', 'Mali', 'Malta', 'Myanmar', 'Middle East & North Africa', 'Mongolia', 'Mozambique', 'Mauritania', 'Mauritius', 'Malawi', 'Malaysia', 'Namibia', 'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal', 'New Zealand', 'Oman', 'Pakistan', 'Panama', 'Peru', 'Philippines', 'Papua New Guinea', 'Poland', 'Puerto Rico', 'Korea, Dem. Rep.', 'Portugal', 'Paraguay', 'Qatar', 'Romania', 'Rwanda', 'South Asia', 'Saudi Arabia', 'Sudan', 'Senegal', 'Small island developing states', 'Solomon Islands', 'Sierra Leone', 'El Salvador', 'Somalia', 'Sub-Saharan Africa', 'Sao Tome and Principe', 'Suriname', 'Sweden', 'Swaziland', 'Syrian Arab Republic', 'Chad', 'Togo', 'Thailand', 'Timor-Leste', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tanzania', 'Uganda', 'Upper middle income', 'Uruguay', 'United States', 'St. Vincent and the Grenadines', 'Venezuela, RB', 'Vietnam', 'Vanuatu', 'World', 'Yemen, Rep.', 'South Africa', 'Congo, Dem. Rep.', 'Zambia', 'Zimbabwe']

### Correlation Analysis

In [253]:
#Australia

cereal_australia = df_cereal2[df_cereal['Country name']=='Australia']
pop_australia = df_population2[df_population['Country name']=='Australia']
#pop_australia
pop_aus = pop_australia.transpose()
ce_aus = cereal_australia.transpose()
final_aus =pop_aus.join(ce_aus)
f_a =final_aus.drop(final_aus.index[0])
f_a.columns = ['population','yield']
f_a = f_a.apply(pd.to_numeric)
f_a.dtypes
a = f_a.corr(method = 'pearson')
b = f_a.corr(method = 'kendall')
c = f_a.corr(method = 'spearman')
print(a)
print(b)
print(c)

            population     yield
population    1.000000 -0.218059
yield        -0.218059  1.000000
            population     yield
population    1.000000 -0.052632
yield        -0.052632  1.000000
            population    yield
population     1.00000 -0.15188
yield         -0.15188  1.00000

In [261]:
percent_increase_pop = (pop_australia[2009] - pop_australia[1990])/(pop_australia[1990])
percent_increase_yield = (cereal_australia[2009] - cereal_australia[1990])/(cereal_australia[1990])


print(percent_increase_yield)
print(percent_increase_pop)

476    0.027912
dtype: float64
12824    0.286351
dtype: object

In [262]:
#India

cereal_india = df_cereal2[df_cereal['Country name']=='India']
pop_india = df_population2[df_population['Country name']=='India']
pop_in = pop_india.transpose()
ce_in = cereal_india.transpose()
final_in =pop_in.join(ce_in)
f_i =final_in.drop(final_in.index[0])
f_i.columns = ['population','yield']
f_i = f_i.apply(pd.to_numeric)
f_i.dtypes
a = f_i.corr(method = 'pearson')
b = f_i.corr(method = 'kendall')
c = f_i.corr(method = 'spearman')
print(a)
print(b)
print(c)

            population    yield
population     1.00000  0.95193
yield          0.95193  1.00000
            population     yield
population    1.000000  0.863158
yield         0.863158  1.000000
            population     yield
population    1.000000  0.954887
yield         0.954887  1.000000

In [233]:
percent_increase_pop = (pop_india[2009] - pop_india[1990])/(pop_india[1990])
percent_increase_yield = (cereal_india[2009] - cereal_india[1990])/(cereal_india[1990])


print(percent_increase_yield)
print(percent_increase_pop)

559    0.35993
dtype: float64
12907    0.360009
dtype: object

In [236]:
#China

cereal_china = df_cereal2[df_cereal['Country name']=='China']
pop_china = df_population2[df_population['Country name']=='China']
pop_ch = pop_china.transpose()
ce_ch = cereal_china.transpose()
final_ch =pop_ch.join(ce_ch)
f_c =final_ch.drop(final_ch.index[0])
f_c.columns = ['population','yield']
f_c = f_c.apply(pd.to_numeric)
f_c.dtypes
a = f_c.corr(method = 'pearson')
b = f_c.corr(method = 'kendall')
c = f_c.corr(method = 'spearman')
print(a)
print(b)
print(c)

            population   yield
population      1.0000  0.9372
yield           0.9372  1.0000
            population     yield
population    1.000000  0.789474
yield         0.789474  1.000000
            population     yield
population    1.000000  0.911278
yield         0.911278  1.000000

In [223]:
#US

cereal_us = df_cereal2[df_cereal['Country name']=='United States']
pop_us = df_population2[df_population['Country name']=='United States']
pop_us = pop_us.transpose()
ce_us = cereal_us.transpose()
final_us =pop_us.join(ce_us)
f_us =final_us.drop(final_us.index[0])
f_us.columns = ['population','yield']
f_us = f_us.apply(pd.to_numeric)
f_c.dtypes
a = f_us.corr(method = 'pearson')
b = f_us.corr(method = 'kendall')
c = f_us.corr(method = 'spearman')
print(a)
print(b)
print(c)

            population     yield
population    1.000000  0.909252
yield         0.909252  1.000000
            population     yield
population    1.000000  0.768421
yield         0.768421  1.000000
            population     yield
population    1.000000  0.909774
yield         0.909774  1.000000

In [237]:
#South Africa

cereal_sa = df_cereal2[df_cereal['Country name']=='South Africa']
pop_sa = df_population2[df_population['Country name']=='South Africa']
pop_sa = pop_sa.transpose()
ce_sa = cereal_sa.transpose()
final_sa =pop_sa.join(ce_sa)
f_sa =final_sa.drop(final_sa.index[0])
f_sa.columns = ['population','yield']
f_sa = f_sa.apply(pd.to_numeric)
f_sa.dtypes
a = f_sa.corr(method = 'pearson')
b = f_sa.corr(method = 'kendall')
c = f_sa.corr(method = 'spearman')
print(a)
print(b)
print(c)

            population     yield
population    1.000000  0.801043
yield         0.801043  1.000000
            population     yield
population    1.000000  0.747368
yield         0.747368  1.000000
            population     yield
population    1.000000  0.897744
yield         0.897744  1.000000

In [238]:
# Sudan

cereal_su = df_cereal2[df_cereal['Country name']=='Sudan']
pop_su = df_population2[df_population['Country name']=='Sudan']
pop_su = pop_su.transpose()
ce_su = cereal_su.transpose()
final_su =pop_su.join(ce_su)
f_su =final_su.drop(final_su.index[0])
f_su.columns = ['population','yield']
f_su = f_su.apply(pd.to_numeric)
f_su.dtypes
a = f_su.corr(method = 'pearson')
b = f_su.corr(method = 'kendall')
c = f_su.corr(method = 'spearman')
print(a)
print(b)
print(c)

            population     yield
population    1.000000  0.309828
yield         0.309828  1.000000
            population     yield
population    1.000000  0.189474
yield         0.189474  1.000000
            population     yield
population    1.000000  0.242105
yield         0.242105  1.000000

In [239]:
# El Salvador

cereal_el = df_cereal2[df_cereal['Country name']=='El Salvador']
pop_el = df_population2[df_population['Country name']=='El Salvador']
pop_el = pop_el.transpose()
ce_el = cereal_el.transpose()
final_el =pop_el.join(ce_el)
f_el =final_el.drop(final_el.index[0])
f_el.columns = ['population','yield']
f_el = f_el.apply(pd.to_numeric)
f_el.dtypes
e = f_el.corr(method = 'pearson')
f = f_el.corr(method = 'kendall')
g = f_el.corr(method = 'spearman')
print(e)
print(f)
print(g)

            population     yield
population    1.000000  0.767516
yield         0.767516  1.000000
            population     yield
population    1.000000  0.694737
yield         0.694737  1.000000
            population     yield
population    1.000000  0.840602
yield         0.840602  1.000000